<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
    Visualize <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        {% for x in vis_list %}
            <li>
                {% for y in x.chart_types.all %}
                    <a class="dropdown-item" title="{{ x.help_text }}" href="?{{ request.GET.urlencode }}&charttype={{ y }}&property={{ x.field_path }}">{{ x.label }} {{ y.icon|safe }}</a>
                {% endfor %}
            </li>
            <hr/>

        {% endfor %}
    </ul>
</div>
